<template name="deviceItem">

  <div class="device" style="repost {{extraColor}}">
    <div class="device-content">
    <h3><a href="{{url}}">{{title}}</a><span>{{infomation}}</span></h3>
    </div>
    {{#if message}}
    <img src="/images/light_on.png" alt="light on" style="width:50px;height:50px;">
    <button id="value_off" class="discuss btn btn-default">Off</button>

    {{else}}
    <img src="/images/light_off.png" alt="light off" style="width:50px;height:50px;">
    <button id="value_on" class="discuss btn btn-default">On</button>
    {{/if}}
    <!-- <div class="switch discuss">
        <input type="checkbox" name="my-checkbox" id="toggle_switch">
    </div> -->
  </div>
</template>
